<div class="player__controls">
    <div class="btn btn-prev">
        <i class="fa-regular fa-backward-fast fa-2xl"></i>
    </div>
    <div class="btn btn-play-pause">
        <i class="fa-regular fa-play fa-2xl"></i>
    </div>
    <div class="btn btn-next">
        <i class="fa-regular fa-forward-fast fa-2xl"></i>
    </div>
</div>