@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width:  100%;
  height: 100%;
  position: relative;
  font-size: 62.5%; // 1rem = 10px, 10/16

  @include respond(big-desktop) {
    font-size: 87.5%; // 1rem = 14px, 14 / 16
  }

  @include respond(desktop) {
    font-size: 62.5%; // 1rem = 10px, 14 / 16
  }

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px, 9 / 16
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px, 8 / 16
  }

  @include respond(phone) {
    font-size: 37.5%; // 1rem = 6px, 6 / 16
  }
}

h3 {
  padding: 3rem 0;
  font-size: 3rem;
  color: #fff;
}
.hidden {
  display: none;
}

.container {
  .player-container {
    position: relative;
    display: flex;
    flex-direction: column;
    background: url("/src/images/pexels-photo-3784221.jpg") no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: 100vw 100vh;
    padding: 0 12rem;
    .header {
      display: flex;
      margin: 3rem 0;
      .search {
        &__input {
          position: relative;
          margin: 0.5rem 0;
          input {
            border: none;
            outline: none;
            border-radius: 2rem;
            font-size: 2rem;
            padding: 1rem 0 1rem 4rem;
            background: none;
            color: #fff;
            &::placeholder {
              color: #fff;
            }
          }
          i {
            position: absolute;
            top: 35%;
            left: 1.5rem;
            color: #fff;
          }
        }
      }
      .personal-info {
        display: flex;
        align-items: center;
        margin-left: auto;
        &__name {
          padding: 0 2rem;
          font-size: 2.4rem;
          color: #fff;
        }
        &__avatar {
          img {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
          }
        }
      }
    }
    .main {
      display: flex;
      justify-content: space-between;
      .playlist {
        display: flex;
        flex-direction: column;
        width: 45%;

        &__item {
          display: flex;
          align-items: center;
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 5rem;
          padding: 1rem;
          margin: 0.5rem 0;
          &:hover {
            background-color: rgba(0, 0, 0, 0.7);
            transform: scale(1.025);
            box-shadow: 0 0 1rem rgb(255 0 0);

          }
          .image {
            img {
              width: 5rem;
              height: 5rem;
              border-radius: 50%;
            }
          }
          .info {
            display: flex;
            flex-direction: column;
            color: #fff;
            font-size: 2rem;
            margin: 0 1rem;
            &__name {}
            &__author {
              color: rgba(255, 255, 255, 0.5);
            }
          }
          .duration {
            font-size: 1.6rem;
            margin-left: auto;
            color: #fff;
          }
        }
      }
      .rec {
        width: 45%;
        &__popular, &__playlists {
          &-title {
            position: relative;
            display: flex;
            align-items: center;
            .arrow-left {
              color: #fff;
              padding: 0 1rem;
              font-size: 2.2rem;
            }
            .arrow-right {
              color: #fff;
              padding: 0 1rem;
              font-size: 2.2rem;
            }
          }
          .audio__item {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            .popular-image {
              img {
                width: 10rem;
                height: 10rem;
                border-radius: 50%;
              }
            }
            .playlist-image {
              img {
                width: 7rem;
                height: 7rem;
                border-radius: 50%;
              }
            }
            .info {
              display: flex;
              flex-direction: column;
              align-items: center;
              padding: 0.5rem;
              &__name {
                font-size: 1.8rem;
                color: #fff;
              }
              &__author {
                font-size: 1.6rem;
                color: rgba(255, 255, 255, 0.7);
              }
            }
          }
        }
      }
    }
  }
  .footer {
    position: fixed;
    width: 100vw;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@import "player";
@import "animation";