.player {
  display: flex;
  align-items: center;
  padding: 3rem;
  font-size: 1.6rem;
  .artist {
    display: flex;
    justify-content: center;
    align-items: center;
    &__img {
      padding: 1rem;
      img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      color: #fff;
      &-song-title {

      }
      &-name {
        color: rgba(255, 255, 255, 0.5);
        font-size: 1.5rem;
      }
    }
  }
  &__controls {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    .btn {
      background-color: rgba(100, 100, 100, 0.5);
      border-radius: 5rem;
      margin: 0.5rem;

      i {
        color: #fff;
      }
    }
  }
  &__progressbar {

  }
  &__duration {
    color: #fff;
    padding: 1rem;
  }
  &__volume {

  }
  audio {

  }
}
div[class^="btn-"] {
  width: 4rem;
  height: 4rem;
  background-size: cover;
  background-position: center;
  padding: 2rem;
  margin: 0.5rem;
}
.btn-prev {
  background: url("../images/004-fast-forward.png") no-repeat;
  transform: rotate(180deg);
}
.btn-play {
  background: url("../images/001-arrow.png") no-repeat;
}
.btn-pause {
  background: url("../images/002-pause.png") no-repeat;
}
.btn-next {
  background: url("../images/004-fast-forward.png") no-repeat;
}
.btn-volume {
  background: url("../images/005-audio.png") no-repeat;
  .range-wrapper {
    position: relative;
    input {
      position: absolute;
      transform: rotate(-90deg);
      left: -7rem;
      top: -9rem;
    }
  }
}